/* * {
    border: 1px solid red;
} */

html {
    font-size: 100%;
    line-height: 1.5;
}

body {
    background-color: #F3F3F3;
    color: #21221D;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

h1 {
    font-size: 4em;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 3em;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
}

h3 {
    font-size: 2em;
}

.content {
    max-width: 1140px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.main-nav__logo {
    float: left;
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #EB7982;
    text-decoration: none;
}

.main-nav__logo:hover {
    color: #DC040F;
    text-decoration: none;
}

.header__container {
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 1;
}

.title-hangul {
    color: #2F8ADB;
}

.header__image {
    max-width: 80rem;
    align-content: center;
    margin-bottom: 0px;

    border: #21221D;
    border-style: inset;
}

.header__image img {
    display: block; /* img is an inline element */
    width: 100%;
    height: 100%;
    float: none;
}

.divider {
    border-top: 3px solid #F2B7B9;
    border-bottom: 2px solid #21221D;
    margin: 1rem;
}

.ingredients__container {
    max-width: 80rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.steps__container {
    max-width: 80rem;
    margin-left: 2rem;
    margin-right: 2rem;


    padding-left: 2rem;
    padding-right: 2rem;
}

.steps__list li{
    padding: 1rem;
}

@media screen and (max-width:700px) {
    .header__title {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}

@media screen and (max-width:533px) {
    .header__title {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.5rem;
    }

    .steps__container {
        padding: 0;
        margin: 0 1rem;
    }
}