body {
    background-color: #EB7982;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

li,p {
    display: inline;
}

div {
    border: #ce616a;
    border-style: inset;
}

.main-nav__container {
    width: 100%;
    height: 100%;
}

.main-nav__image {
    width: 100%;
    height: 100%;
    align-content: center;
    margin-bottom: 0px;
}

.main-nav__image img {
    display: block;
    width: 100%;
    height: 100%;
    float: none;
}

.main-nav {
    float: left;
    flex-direction: row;
    padding: 1rem;
    border-color: #ce616a;
}

.main-nav__item:first-child {
    background-color: #EB7982;
}

.main-nav__item {
    float: flex;
    flex-direction: row;
    background-color: #21221D;
    align-content: center;
    padding: 1rem;
    width: 5rem;
    margin: 0.5rem;
    list-style: none;
    font-weight: bold;
}

.main-nav__link:link {
    color: #EB7982;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__link:hover {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__link:visited {
    color: #EB7982;
    cursor: pointer;
    text-decoration: none;
}