/* * {
    border: 2px solid red;
} */

html {
    font-size: 100%
}

body {
    background-color: #EB7982;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li,p {
    display: inline;
}

.content {
    max-width: 1140px;
    margin: auto;
}

.main-nav {
    max-width: 80rem;
    float: left;
    padding: 1rem;
    border: #ce616a;
    border-style: inset;
    margin-right: auto;
    margin-left: auto;
}

.main-nav__container {
    max-width: 80rem;
    display: flex;
}

.main-nav__list {
    padding: 1.05%;
    display: flex;
    flex: 1;
}

.main-nav__item:first-child {
    background-color: #EB7982;
    font-size: 1.5rem;
    padding: 0rem;
}

.main-nav__item {
    max-height: 53px;
    margin: 0.1rem;
    list-style: none;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
    align-items: center;
    display: flex;
    flex: 1;
}

.main-nav__link {
    background-color: #21221D;
    text-align: center;
    padding: 1.05rem;
    flex: 1;
}

.main-nav__link:link {
    color: #EB7982;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__link:hover {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__link:visited {
    color: #EB7982;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__image {
    max-width: 80rem;
    align-content: center;
    margin-bottom: 0px;
    border: #ce616a;
    border-style: inset;
}

.main-nav__image img {
    display: block;
    width: 100%;
    height: 100%;
    float: none;
}