/* * {
    border: 2px solid red;
} */

html {
    font-size: 100%;
}

body {
    background-color: #f3f3f3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

li,p {
    display: inline;
}

.content {
    background-color: #EB7982;
    max-width: 1140px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navbar & image */

.main-nav {
    max-width: 80rem;
    float: left;
    padding: 1rem;
    border: #ce616a;
    border-style: inset;
    margin-right: auto;
    margin-left: auto;
}

.main-nav__container {
    
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0 0 1rem 0;
}

.main-nav__container p {
    font-family: 'Black Han Sans', sans-serif;
    margin: 0 0 0 0.5rem;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-nav__container_logo {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-nav__container_menu {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.main-nav__item:first-child {
    background-color: #EB7982;
    padding: 1.05rem;
}

.main-nav__logo {
    padding: 1.05rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-nav__item {
    float: right;
    max-height: 53px;
    list-style: none;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
    
    align-items: center;
    display: flex;
    flex: 1;
}

.main-nav__link {
    background-color: #21221D;
    padding: 1.05rem;
    /*this centers the text horizontally*/
    justify-content: center;
    /*this centers the text vertically*/
    align-items: center; 

    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-nav__link:link {
    color: #EB7982;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__link:hover {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__link:visited {
    color: #EB7982;
    cursor: pointer;
    text-decoration: none;
}

.main-nav__image {
    max-width: 80rem;
    align-content: center;
    margin-bottom: 0px;
    border: #ce616a;
    border-style: inset;
}

.main-nav__image img {
    display: block;
    width: 100%;
    height: 100%;
    float: none;
}

.info__container {
    background-color: #F3F3F3;

    display: flex;
    flex-direction: row;
    flex: 2;
}

.info__container p {
    color: #383838;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 2rem;
}

.footer__container {
    max-height: 100px;
    background-color: #2F8ADB;

    display: flex;
    flex-direction: row;
    flex: 1;
}



@media screen and (max-width:965px) {
    .main-nav__container {
        flex-direction: column;
    }

    .main-nav__container p {
        margin: 0 0.5rem 0 0.5rem;
    }

    .main-nav__logo {
        margin: 0px;
    }

    .main-nav__image {
        height: inherit;
        width: inherit;
    }
}

@media screen and (max-width:665px) {
    .main-nav__container_menu {
        flex-direction: column;
    }

    .main-nav__container p {
        margin: 0.5rem 0 0.1rem 0;
    }
}